<?xml version="1.0" ?>
<robot name="blue_vase" version="1.0">
  <link name="blue_vase">
    <inertial>
      <origin xyz="-0.00020687341748271137 -0.0005860843230038881 -0.040560945868492126" rpy="-0.8411597013473511 1.5575580596923828 -2.410123109817505"/>
      <mass value="1.7368546724319458"/>
      <inertia ixx="0.006913658231496811" ixy="0.0" ixz="0.0" iyy="0.012819013558328152" iyz="0.0" izz="0.01287089753895998"/>
    </inertial>
    <visual name="BlueVase">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/obj/BlueVase.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="BlueVase_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_002">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_002.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_003">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_003.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_004">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_004.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_005">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_005.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_006">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_006.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_007">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_007.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_008">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_008.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_009">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_009.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_010">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_010.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_011">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_011.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_012">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_012.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_013">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_013.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_014">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_014.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_015">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_015.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_016">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_016.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_017">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_017.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_018">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_018.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_019">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_019.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_020">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_020.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_021">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_021.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_022">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_022.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_023">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_023.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_024">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_024.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_025">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_025.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_026">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_026.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_027">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_027.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_028">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_028.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_029">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_029.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_030">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_030.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_031">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_031.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_032">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_032.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_033">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_033.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_034">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_034.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_035">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_035.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_036">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_036.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_037">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_037.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_038">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_038.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_039">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_039.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_040">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_040.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_041">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_041.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_042">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_042.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_043">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_043.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_044">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_044.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_045">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_045.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_046">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_046.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_047">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_047.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_048">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_048.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_049">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_049.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_050">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_050.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_051">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_051.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_052">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_052.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_053">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_053.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_054">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_054.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_055">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_055.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_056">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_056.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_057">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_057.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_058">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_058.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_059">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_059.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_060">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_060.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_061">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_061.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_062">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_062.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_063">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_063.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_064">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_064.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_065">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_065.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_066">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_066.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_067">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_067.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_068">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_068.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_069">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_069.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_070">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_070.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_071">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_071.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_072">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_072.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_073">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_073.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_074">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_074.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_075">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_075.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_076">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_076.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_077">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_077.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_078">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_078.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_079">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_079.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BlueVase_080">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://blue_vase/meshes/stl/BlueVase_080.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
</robot>