<?xml version="1.0" ?>
<robot name="cheese" version="1.0">
  <link name="cheese">
    <inertial>
      <origin xyz="-7.395008196908748e-07 0.017372358590364456 8.131019967549946e-06" rpy="3.1382389068603516 0.0009885845938697457 1.5692204236984253"/>
      <mass value="0.3691449463367462"/>
      <inertia ixx="0.00021558407752308995" ixy="0.0" ixz="0.0" iyy="0.00046009436482563615" iyz="0.0" izz="0.0004986084531992674"/>
    </inertial>
    <visual name="Cheese">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/obj/Cheese.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="Cheese_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_002">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_002.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_003">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_003.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_004">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_004.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_005">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_005.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_006">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_006.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_007">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_007.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_008">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_008.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_009">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_009.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_010">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_010.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_011">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_011.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_012">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_012.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_013">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_013.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_014">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_014.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_015">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_015.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_016">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_016.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_017">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_017.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_018">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_018.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_019">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_019.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_020">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_020.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_021">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_021.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_022">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_022.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_023">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_023.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_024">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_024.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_025">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_025.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_026">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_026.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_027">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_027.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_028">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_028.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_029">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_029.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_030">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_030.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_031">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_031.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_032">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_032.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_033">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_033.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_034">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_034.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_035">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_035.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_036">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_036.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_037">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_037.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_038">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_038.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_039">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_039.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_040">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_040.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_041">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_041.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_042">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_042.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_043">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_043.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_044">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_044.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Cheese_045">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cheese/meshes/stl/Cheese_045.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
</robot>