<?xml version="1.0" ?>
<robot name="pan" version="1.0">
  <link name="pan"/>
  <joint name="pan_metal_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="pan"/>
    <child link="pan_metal"/>
  </joint>
  <link name="pan_metal">
    <inertial>
      <origin xyz="0.08990475535392761 -2.732915334036079e-07 -0.006082954816520214" rpy="-5.060164767201059e-07 0.0317266471683979 -3.2380812626797706e-06"/>
      <mass value="2.6286439895629883"/>
      <inertia ixx="0.02098214253783226" ixy="0.0" ixz="0.0" iyy="0.04000343754887581" iyz="0.0" izz="0.05947813764214516"/>
    </inertial>
    <visual name="PanMetal">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/obj/PanMetal.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="PanMetal_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/PanMetal_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PanMetal_002">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/PanMetal_002.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PanMetal_003">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/PanMetal_003.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PanMetal_004">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/PanMetal_004.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PanMetal_005">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/PanMetal_005.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PanMetal_006">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/PanMetal_006.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PanMetal_007">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/PanMetal_007.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PanMetal_008">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/PanMetal_008.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PanMetal_009">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/PanMetal_009.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PanMetal_010">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/PanMetal_010.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PanMetal_011">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/PanMetal_011.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PanMetal_012">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/PanMetal_012.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PanMetal_013">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/PanMetal_013.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PanMetal_014">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/PanMetal_014.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PanMetal_015">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/PanMetal_015.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PanMetal_016">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/PanMetal_016.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PanMetal_017">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/PanMetal_017.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PanMetal_018">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/PanMetal_018.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PanMetal_019">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/PanMetal_019.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PanMetal_020">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/PanMetal_020.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PanMetal_021">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/PanMetal_021.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PanMetal_022">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/PanMetal_022.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PanMetal_023">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/PanMetal_023.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PanMetal_024">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/PanMetal_024.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PanMetal_025">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/PanMetal_025.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PanMetal_026">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/PanMetal_026.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PanMetal_027">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/PanMetal_027.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PanMetal_028">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/PanMetal_028.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PanMetal_029">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/PanMetal_029.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PanMetal_030">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/PanMetal_030.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PanMetal_031">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/PanMetal_031.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PanMetal_032">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/PanMetal_032.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PanMetal_033">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/PanMetal_033.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PanMetal_034">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/PanMetal_034.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="handle_metal_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="pan"/>
    <child link="handle_metal"/>
  </joint>
  <link name="handle_metal">
    <inertial>
      <origin xyz="-0.09976198524236679 0.00013171879982110113 0.009249822236597538" rpy="0.005710172932595015 0.07814785093069077 -0.001056163338944316"/>
      <mass value="0.09857194870710373"/>
      <inertia ixx="1.0279828529746737e-05" ixy="0.0" ixz="0.0" iyy="0.0014953159261494875" iyz="0.0" izz="0.0014964917208999395"/>
    </inertial>
    <visual name="HandleMetal">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/obj/HandleMetal.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="HandleMetal_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/HandleMetal_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="HandleMetal_002">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/HandleMetal_002.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="HandleMetal_003">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/HandleMetal_003.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="HandleMetal_004">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/HandleMetal_004.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="HandleMetal_005">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/HandleMetal_005.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="HandleMetal_006">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/HandleMetal_006.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="HandleMetal_007">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/HandleMetal_007.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="HandleMetal_008">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/HandleMetal_008.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="HandleMetal_009">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/HandleMetal_009.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="HandleMetal_010">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/HandleMetal_010.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="HandleMetal_011">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/HandleMetal_011.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="HandleMetal_012">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/HandleMetal_012.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="handle_wooden_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="pan"/>
    <child link="handle_wooden"/>
  </joint>
  <link name="handle_wooden">
    <inertial>
      <origin xyz="-0.13276457786560059 0.000123787292977795 0.00931735523045063" rpy="1.5555371046066284 0.06803662329912186 -0.0008681837935000658"/>
      <mass value="0.5336440801620483"/>
      <inertia ixx="3.8637517718598247e-05" ixy="0.0" ixz="0.0" iyy="0.010447471402585506" iyz="0.0" izz="0.010448549874126911"/>
    </inertial>
    <visual name="HandleWooden">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/obj/HandleWooden.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="HandleWooden_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/HandleWooden_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="HandleWooden_002">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/HandleWooden_002.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="HandleWooden_003">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/HandleWooden_003.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="HandleWooden_004">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/HandleWooden_004.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="HandleWooden_005">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/HandleWooden_005.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="HandleWooden_006">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/HandleWooden_006.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="HandleWooden_007">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/HandleWooden_007.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="HandleWooden_008">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/HandleWooden_008.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="HandleWooden_009">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/HandleWooden_009.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="HandleWooden_010">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/HandleWooden_010.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="HandleWooden_011">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/HandleWooden_011.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="HandleWooden_012">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/HandleWooden_012.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="HandleWooden_013">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/HandleWooden_013.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="HandleWooden_014">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/HandleWooden_014.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="HandleWooden_015">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/HandleWooden_015.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="HandleWooden_016">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/HandleWooden_016.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="HandleWooden_017">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/HandleWooden_017.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="HandleWooden_018">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/HandleWooden_018.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="HandleWooden_019">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/HandleWooden_019.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="HandleWooden_020">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/HandleWooden_020.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="HandleWooden_021">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/HandleWooden_021.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="HandleWooden_022">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/HandleWooden_022.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="HandleWooden_023">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/HandleWooden_023.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="HandleWooden_024">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pan/meshes/stl/HandleWooden_024.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
</robot>