<?xml version="1.0" ?>
<robot name="pepper_brown" version="1.0">
  <link name="pepper_brown">
    <inertial>
      <origin xyz="2.0011988453916274e-05 3.485151319182478e-05 -5.9768586652353406e-05" rpy="2.8926503658294678 -0.8674834370613098 -1.5036189556121826"/>
      <mass value="1.883025652205106e-05"/>
      <inertia ixx="2.9328914297188646e-11" ixy="0.0" ixz="0.0" iyy="3.026827052887704e-11" iyz="0.0" izz="3.056271555279544e-11"/>
    </inertial>
    <visual name="PepperBrown">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pepper_brown/meshes/obj/PepperBrown.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="PepperBrown_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pepper_brown/meshes/stl/PepperBrown_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PepperBrown_002">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pepper_brown/meshes/stl/PepperBrown_002.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PepperBrown_003">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pepper_brown/meshes/stl/PepperBrown_003.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PepperBrown_004">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pepper_brown/meshes/stl/PepperBrown_004.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PepperBrown_005">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pepper_brown/meshes/stl/PepperBrown_005.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PepperBrown_006">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pepper_brown/meshes/stl/PepperBrown_006.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PepperBrown_007">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pepper_brown/meshes/stl/PepperBrown_007.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PepperBrown_008">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pepper_brown/meshes/stl/PepperBrown_008.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PepperBrown_009">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pepper_brown/meshes/stl/PepperBrown_009.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PepperBrown_010">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pepper_brown/meshes/stl/PepperBrown_010.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PepperBrown_011">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pepper_brown/meshes/stl/PepperBrown_011.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PepperBrown_012">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pepper_brown/meshes/stl/PepperBrown_012.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
</robot>