<?xml version="1.0" ?>
<robot name="mixer" version="1.0">
  <link name="mixer"/>
  <joint name="mixer_cover_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="mixer"/>
    <child link="mixer_cover"/>
  </joint>
  <link name="mixer_cover">
    <inertial>
      <origin xyz="-1.0711189588619163e-06 -4.780318931807415e-07 0.06360410153865814" rpy="-0.4588449001312256 -1.5707827806472778 -2.6337506771087646"/>
      <mass value="6.394794940948486"/>
      <inertia ixx="0.007464394439011812" ixy="0.0" ixz="0.0" iyy="0.03619295731186867" iyz="0.0" izz="0.036193035542964935"/>
    </inertial>
    <visual name="MixerCover">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/obj/MixerCover.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="MixerCover_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_002">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_002.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_003">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_003.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_004">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_004.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_005">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_005.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_006">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_006.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_007">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_007.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_008">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_008.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_009">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_009.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_010">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_010.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_011">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_011.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_012">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_012.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_013">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_013.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_014">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_014.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_015">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_015.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_016">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_016.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_017">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_017.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_018">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_018.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_019">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_019.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_020">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_020.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_021">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_021.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_022">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_022.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_023">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_023.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_024">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_024.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_025">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_025.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_026">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_026.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_027">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_027.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_028">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_028.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_029">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_029.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_030">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_030.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_031">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_031.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_032">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_032.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_033">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_033.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_034">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_034.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_035">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_035.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_036">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_036.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_037">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_037.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_038">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_038.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_039">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_039.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_040">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_040.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_041">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_041.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_042">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_042.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_043">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_043.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_044">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_044.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_045">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_045.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_046">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_046.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_047">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_047.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_048">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_048.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_049">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_049.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_050">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_050.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_051">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_051.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_052">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_052.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_053">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_053.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_054">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_054.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_055">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_055.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_056">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_056.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_057">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_057.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_058">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_058.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_059">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_059.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_060">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_060.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_061">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_061.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_062">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_062.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_063">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_063.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_064">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_064.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_065">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_065.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_066">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_066.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_067">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_067.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_068">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_068.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_069">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_069.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_070">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_070.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_071">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_071.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_072">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_072.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_073">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_073.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_074">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_074.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_075">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_075.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_076">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_076.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_077">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_077.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_078">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_078.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_079">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_079.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_080">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_080.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_081">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_081.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_082">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_082.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_083">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_083.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_084">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_084.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_085">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_085.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_086">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_086.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_087">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_087.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_088">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_088.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_089">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_089.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_090">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_090.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_091">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_091.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_092">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_092.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_093">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_093.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_094">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_094.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_095">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_095.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_096">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_096.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_097">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_097.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_098">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_098.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_099">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_099.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_100">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_100.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_101">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_101.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_102">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_102.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_103">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_103.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_104">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_104.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_105">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_105.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_106">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_106.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_107">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_107.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_108">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_108.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_109">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_109.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_110">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_110.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCover_111">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCover_111.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="mixer_cup_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="mixer"/>
    <child link="mixer_cup"/>
  </joint>
  <link name="mixer_cup">
    <inertial>
      <origin xyz="-1.7645579646341503e-06 -5.248667207524704e-07 -0.042765483260154724" rpy="-0.7554996609687805 1.5707740783691406 -2.3179376125335693"/>
      <mass value="8.871996879577637"/>
      <inertia ixx="0.01072021946310997" ixy="0.0" ixz="0.0" iyy="0.040611784905195236" iyz="0.0" izz="0.040611863136291504"/>
    </inertial>
    <visual name="MixerCup">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/obj/MixerCup.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="MixerCup_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCup_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCup_002">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCup_002.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCup_003">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCup_003.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCup_004">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCup_004.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCup_005">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCup_005.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCup_006">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCup_006.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCup_007">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCup_007.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCup_008">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCup_008.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCup_009">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCup_009.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCup_010">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCup_010.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCup_011">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCup_011.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCup_012">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCup_012.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCup_013">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCup_013.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCup_014">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCup_014.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCup_015">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCup_015.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCup_016">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCup_016.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCup_017">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCup_017.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCup_018">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCup_018.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCup_019">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCup_019.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCup_020">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCup_020.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCup_021">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCup_021.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCup_022">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCup_022.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCup_023">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCup_023.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCup_024">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCup_024.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCup_025">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCup_025.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCup_026">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCup_026.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCup_027">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCup_027.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCup_028">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCup_028.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCup_029">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCup_029.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCup_030">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCup_030.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCup_031">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCup_031.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCup_032">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCup_032.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCup_033">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCup_033.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCup_034">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCup_034.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCup_035">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCup_035.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCup_036">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCup_036.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="MixerCup_037">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://mixer/meshes/stl/MixerCup_037.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
</robot>