<?xml version="1.0" ?>
<robot name="large_plate" version="1.0">
  <link name="large_plate">
    <inertial>
      <origin xyz="1.6775587585726726e-09 -8.307424792519669e-08 -0.003178010229021311" rpy="4.795305841298614e-08 -6.533993257562543e-08 -2.0409233570098877"/>
      <mass value="0.5154173970222473"/>
      <inertia ixx="0.002286007860675454" ixy="0.0" ixz="0.0" iyy="0.0022860087919980288" iyz="0.0" izz="0.004535621032118797"/>
    </inertial>
    <visual name="PlateLargeSize">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_plate/meshes/obj/PlateLargeSize.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="PlateLargeSize_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_plate/meshes/stl/PlateLargeSize_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PlateLargeSize_002">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_plate/meshes/stl/PlateLargeSize_002.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PlateLargeSize_003">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_plate/meshes/stl/PlateLargeSize_003.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PlateLargeSize_004">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_plate/meshes/stl/PlateLargeSize_004.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PlateLargeSize_005">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_plate/meshes/stl/PlateLargeSize_005.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PlateLargeSize_006">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_plate/meshes/stl/PlateLargeSize_006.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PlateLargeSize_007">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_plate/meshes/stl/PlateLargeSize_007.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PlateLargeSize_008">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_plate/meshes/stl/PlateLargeSize_008.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PlateLargeSize_009">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_plate/meshes/stl/PlateLargeSize_009.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PlateLargeSize_010">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_plate/meshes/stl/PlateLargeSize_010.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PlateLargeSize_011">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_plate/meshes/stl/PlateLargeSize_011.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PlateLargeSize_012">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_plate/meshes/stl/PlateLargeSize_012.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PlateLargeSize_013">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_plate/meshes/stl/PlateLargeSize_013.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PlateLargeSize_014">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_plate/meshes/stl/PlateLargeSize_014.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PlateLargeSize_015">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_plate/meshes/stl/PlateLargeSize_015.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PlateLargeSize_016">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_plate/meshes/stl/PlateLargeSize_016.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PlateLargeSize_017">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_plate/meshes/stl/PlateLargeSize_017.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PlateLargeSize_018">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_plate/meshes/stl/PlateLargeSize_018.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PlateLargeSize_019">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_plate/meshes/stl/PlateLargeSize_019.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PlateLargeSize_020">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_plate/meshes/stl/PlateLargeSize_020.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PlateLargeSize_021">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_plate/meshes/stl/PlateLargeSize_021.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PlateLargeSize_022">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_plate/meshes/stl/PlateLargeSize_022.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
</robot>