<?xml version="1.0" ?>
<robot name="bread_2" version="1.0">
  <link name="bread_2">
    <inertial>
      <origin xyz="-0.00147146952804178 0.00020550422777887434 0.0021984002087265253" rpy="-1.596862554550171 -0.024555884301662445 -0.019091736525297165"/>
      <mass value="0.5353232622146606"/>
      <inertia ixx="0.0013766310876235366" ixy="0.0" ixz="0.0" iyy="0.0013999816728755832" iyz="0.0" izz="0.0019342820160090923"/>
    </inertial>
    <visual name="Bread2">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://bread_2/meshes/obj/Bread2.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="Bread2_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://bread_2/meshes/stl/Bread2_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Bread2_002">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://bread_2/meshes/stl/Bread2_002.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Bread2_003">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://bread_2/meshes/stl/Bread2_003.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Bread2_004">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://bread_2/meshes/stl/Bread2_004.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Bread2_005">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://bread_2/meshes/stl/Bread2_005.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Bread2_006">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://bread_2/meshes/stl/Bread2_006.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Bread2_007">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://bread_2/meshes/stl/Bread2_007.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Bread2_008">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://bread_2/meshes/stl/Bread2_008.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Bread2_009">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://bread_2/meshes/stl/Bread2_009.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
</robot>