<?xml version="1.0" ?>
<robot name="flowerpot" version="1.0">
  <link name="flowerpot">
    <inertial>
      <origin xyz="3.031487949556322e-08 -1.117605652467546e-08 0.0027141293976455927" rpy="1.6659693717956543 -1.5707926750183105 -1.336716651916504"/>
      <mass value="3.7099127769470215"/>
      <inertia ixx="0.03945529833436012" ixy="0.0" ixz="0.0" iyy="0.04177573695778847" iyz="0.0" izz="0.041775744408369064"/>
    </inertial>
    <visual name="Flowerpot">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/obj/Flowerpot.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="Flowerpot_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_002">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_002.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_003">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_003.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_004">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_004.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_005">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_005.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_006">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_006.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_007">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_007.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_008">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_008.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_009">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_009.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_010">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_010.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_011">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_011.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_012">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_012.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_013">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_013.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_014">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_014.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_015">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_015.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_016">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_016.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_017">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_017.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_018">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_018.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_019">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_019.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_020">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_020.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_021">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_021.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_022">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_022.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_023">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_023.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_024">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_024.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_025">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_025.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_026">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_026.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_027">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_027.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_028">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_028.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_029">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_029.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_030">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_030.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_031">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_031.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_032">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_032.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_033">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_033.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_034">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_034.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_035">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_035.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_036">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_036.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_037">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_037.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_038">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_038.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_039">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_039.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_040">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_040.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_041">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_041.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_042">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_042.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_043">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_043.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_044">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_044.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_045">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_045.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_046">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_046.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_047">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_047.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_048">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_048.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_049">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_049.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_050">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_050.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_051">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_051.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_052">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_052.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Flowerpot_053">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://flowerpot/meshes/stl/Flowerpot_053.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
</robot>