<?xml version="1.0" ?>
<robot name="tulip" version="1.0">
  <link name="tulip"/>
  <joint name="tulip_flower002_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="tulip"/>
    <child link="tulip_flower002"/>
  </joint>
  <link name="tulip_flower002">
    <inertial>
      <origin xyz="-0.0035837735049426556 -0.0010592726757749915 8.421168604400009e-05" rpy="-1.1778463125228882 0.008238249458372593 0.3342975676059723"/>
      <mass value="-0.035850219428539276"/>
      <inertia ixx="-1.3038647921348456e-06" ixy="0.0" ixz="0.0" iyy="1.3964859135739971e-05" iyz="0.0" izz="1.5146362784435041e-05"/>
    </inertial>
    <visual name="TulipFlower002">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/obj/TulipFlower002.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="TulipFlower002_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_002">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_002.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_003">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_003.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_004">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_004.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_005">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_005.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_006">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_006.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_007">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_007.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_008">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_008.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_009">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_009.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_010">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_010.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_011">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_011.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_012">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_012.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_013">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_013.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_014">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_014.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_015">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_015.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_016">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_016.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_017">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_017.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_018">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_018.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_019">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_019.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_020">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_020.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_021">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_021.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_022">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_022.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_023">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_023.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_024">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_024.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_025">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_025.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_026">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_026.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_027">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_027.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_028">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_028.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_029">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_029.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_030">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_030.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_031">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_031.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_032">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_032.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_033">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_033.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_034">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_034.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_035">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_035.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_036">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_036.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_037">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_037.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_038">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_038.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_039">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_039.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_040">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_040.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_041">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_041.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_042">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_042.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_043">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_043.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_044">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_044.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_045">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_045.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_046">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_046.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_047">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_047.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_048">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_048.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_049">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_049.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_050">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_050.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_051">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_051.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_052">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_052.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_053">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_053.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_054">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_054.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_055">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_055.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_056">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_056.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_057">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_057.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower002_058">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower002_058.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="tulip_stem_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="tulip"/>
    <child link="tulip_stem"/>
  </joint>
  <link name="tulip_stem">
    <inertial>
      <origin xyz="-0.041350290179252625 -0.0015953591791912913 -0.04113459959626198" rpy="1.5551050901412964 -0.2805953919887543 0.03917866572737694"/>
      <mass value="0.00402587465941906"/>
      <inertia ixx="6.442447556764819e-06" ixy="0.0" ixz="0.0" iyy="5.2896000852342695e-05" iyz="0.0" izz="5.546389002120122e-05"/>
    </inertial>
    <visual name="TulipStem">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/obj/TulipStem.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="TulipStem_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipStem_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipStem_002">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipStem_002.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipStem_003">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipStem_003.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipStem_004">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipStem_004.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipStem_005">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipStem_005.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipStem_006">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipStem_006.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="tulip_leaf001_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="tulip"/>
    <child link="tulip_leaf001"/>
  </joint>
  <link name="tulip_leaf001">
    <inertial>
      <origin xyz="0.0025559908244758844 -0.001022760639898479 0.002715975744649768" rpy="-1.0260345935821533 -0.5481665134429932 -0.15336722135543823"/>
      <mass value="-0.0677194744348526"/>
      <inertia ixx="5.152208359504584e-06" ixy="0.0" ixz="0.0" iyy="2.1266141629894264e-05" iyz="0.0" izz="2.541234607633669e-05"/>
    </inertial>
    <visual name="TulipLeaf001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/obj/TulipLeaf001.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="TulipLeaf001_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipLeaf001_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipLeaf001_002">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipLeaf001_002.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipLeaf001_003">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipLeaf001_003.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipLeaf001_004">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipLeaf001_004.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipLeaf001_005">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipLeaf001_005.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="tulip_flower001_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="tulip"/>
    <child link="tulip_flower001"/>
  </joint>
  <link name="tulip_flower001">
    <inertial>
      <origin xyz="0.2621709406375885 -0.016075752675533295 -0.036139022558927536" rpy="-0.16974906623363495 0.12403554469347 -0.015588843263685703"/>
      <mass value="0.006754143163561821"/>
      <inertia ixx="5.074209184385836e-05" ixy="0.0" ixz="0.0" iyy="0.00036684409133158624" iyz="0.0" izz="0.0004044266534037888"/>
    </inertial>
    <visual name="TulipFlower001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/obj/TulipFlower001.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="TulipFlower001_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_002">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_002.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_003">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_003.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_004">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_004.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_005">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_005.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_006">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_006.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_007">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_007.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_008">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_008.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_009">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_009.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_010">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_010.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_011">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_011.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_012">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_012.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_013">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_013.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_014">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_014.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_015">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_015.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_016">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_016.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_017">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_017.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_018">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_018.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_019">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_019.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_020">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_020.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_021">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_021.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_022">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_022.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_023">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_023.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_024">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_024.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_025">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_025.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_026">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_026.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_027">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_027.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_028">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_028.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_029">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_029.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_030">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_030.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_031">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_031.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_032">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_032.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_033">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_033.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_034">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_034.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_035">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_035.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_036">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_036.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_037">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_037.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_038">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_038.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_039">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_039.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_040">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_040.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_041">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_041.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_042">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_042.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_043">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_043.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_044">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_044.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_045">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_045.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_046">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_046.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_047">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_047.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_048">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_048.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_049">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_049.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_050">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_050.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_051">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_051.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_052">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_052.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_053">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_053.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_054">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_054.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_055">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_055.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_056">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_056.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_057">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_057.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_058">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_058.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_059">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_059.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_060">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_060.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_061">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_061.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_062">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_062.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_063">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_063.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="TulipFlower001_064">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://tulip/meshes/stl/TulipFlower001_064.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
</robot>