<?xml version="1.0" ?>
<robot name="beer_bottle" version="1.0">
  <link name="beer_bottle"/>
  <joint name="beer_bottle_cap_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="beer_bottle"/>
    <child link="beer_bottle_cap"/>
  </joint>
  <link name="beer_bottle_cap">
    <inertial>
      <origin xyz="8.08560725999996e-05 -9.398388101544697e-06 0.13437895476818085" rpy="0.1566080003976822 1.5702757835388184 3.0350632667541504"/>
      <mass value="0.0009343861602246761"/>
      <inertia ixx="1.7288907372403628e-07" ixy="0.0" ixz="0.0" iyy="1.6953479644143954e-05" iyz="0.0" izz="1.695373430266045e-05"/>
    </inertial>
    <visual name="BeerBottleCap">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/obj/BeerBottleCap.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="BeerBottleCap_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleCap_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleCap_002">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleCap_002.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleCap_003">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleCap_003.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleCap_004">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleCap_004.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleCap_005">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleCap_005.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleCap_006">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleCap_006.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleCap_007">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleCap_007.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleCap_008">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleCap_008.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleCap_009">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleCap_009.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleCap_010">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleCap_010.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleCap_011">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleCap_011.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleCap_012">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleCap_012.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleCap_013">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleCap_013.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleCap_014">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleCap_014.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleCap_015">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleCap_015.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleCap_016">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleCap_016.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleCap_017">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleCap_017.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleCap_018">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleCap_018.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleCap_019">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleCap_019.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleCap_020">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleCap_020.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleCap_021">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleCap_021.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleCap_022">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleCap_022.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleCap_023">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleCap_023.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleCap_024">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleCap_024.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleCap_025">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleCap_025.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleCap_026">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleCap_026.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleCap_027">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleCap_027.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleCap_028">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleCap_028.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleCap_029">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleCap_029.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleCap_030">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleCap_030.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleCap_031">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleCap_031.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleCap_032">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleCap_032.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleCap_033">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleCap_033.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleCap_034">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleCap_034.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleCap_035">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleCap_035.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleCap_036">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleCap_036.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleCap_037">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleCap_037.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleCap_038">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleCap_038.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleCap_039">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleCap_039.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleCap_040">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleCap_040.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="beer_bottle_body_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="beer_bottle"/>
    <child link="beer_bottle_body"/>
  </joint>
  <link name="beer_bottle_body">
    <inertial>
      <origin xyz="-6.751268699645152e-08 5.987622131442549e-08 -0.029478183016180992" rpy="0.9990459084510803 1.5707950592041016 2.5373377799987793"/>
      <mass value="0.3444143831729889"/>
      <inertia ixx="0.0002992546942550689" ixy="0.0" ixz="0.0" iyy="0.0022604945115745068" iyz="0.0" izz="0.00226049916818738"/>
    </inertial>
    <visual name="BeerBottleBody">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/obj/BeerBottleBody.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="BeerBottleBody_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleBody_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleBody_002">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleBody_002.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleBody_003">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleBody_003.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleBody_004">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleBody_004.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleBody_005">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleBody_005.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleBody_006">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleBody_006.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleBody_007">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleBody_007.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleBody_008">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleBody_008.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleBody_009">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleBody_009.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleBody_010">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleBody_010.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleBody_011">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleBody_011.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleBody_012">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleBody_012.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleBody_013">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleBody_013.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleBody_014">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleBody_014.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleBody_015">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleBody_015.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleBody_016">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleBody_016.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleBody_017">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleBody_017.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleBody_018">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleBody_018.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleBody_019">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleBody_019.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleBody_020">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleBody_020.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleBody_021">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleBody_021.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleBody_022">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleBody_022.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleBody_023">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleBody_023.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleBody_024">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleBody_024.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleBody_025">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleBody_025.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleBody_026">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleBody_026.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleBody_027">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleBody_027.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleBody_028">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleBody_028.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BeerBottleBody_029">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://beer_bottle/meshes/stl/BeerBottleBody_029.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
</robot>