<?xml version="1.0" ?>
<robot name="scissors_1" version="1.0">
  <link name="scissors_1"/>
  <joint name="scissors1_plastics_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="scissors_1"/>
    <child link="scissors1_plastics"/>
  </joint>
  <link name="scissors1_plastics">
    <inertial>
      <origin xyz="-0.04632521793246269 -0.0011474678758531809 2.4406856482528383e-06" rpy="-0.00891746673732996 1.5919726138236e-05 0.015503203496336937"/>
      <mass value="0.06911789625883102"/>
      <inertia ixx="2.377882628934458e-05" ixy="0.0" ixz="0.0" iyy="0.00017969933105632663" iyz="0.0" izz="0.00020322277850937098"/>
    </inertial>
    <visual name="Scissors1Plastics">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://scissors_1/meshes/obj/Scissors1Plastics.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="Scissors1Plastics_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://scissors_1/meshes/stl/Scissors1Plastics_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Scissors1Plastics_002">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://scissors_1/meshes/stl/Scissors1Plastics_002.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Scissors1Plastics_003">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://scissors_1/meshes/stl/Scissors1Plastics_003.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Scissors1Plastics_004">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://scissors_1/meshes/stl/Scissors1Plastics_004.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Scissors1Plastics_005">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://scissors_1/meshes/stl/Scissors1Plastics_005.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Scissors1Plastics_006">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://scissors_1/meshes/stl/Scissors1Plastics_006.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Scissors1Plastics_007">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://scissors_1/meshes/stl/Scissors1Plastics_007.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Scissors1Plastics_008">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://scissors_1/meshes/stl/Scissors1Plastics_008.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Scissors1Plastics_009">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://scissors_1/meshes/stl/Scissors1Plastics_009.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Scissors1Plastics_010">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://scissors_1/meshes/stl/Scissors1Plastics_010.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Scissors1Plastics_011">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://scissors_1/meshes/stl/Scissors1Plastics_011.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Scissors1Plastics_012">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://scissors_1/meshes/stl/Scissors1Plastics_012.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Scissors1Plastics_013">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://scissors_1/meshes/stl/Scissors1Plastics_013.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Scissors1Plastics_014">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://scissors_1/meshes/stl/Scissors1Plastics_014.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Scissors1Plastics_015">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://scissors_1/meshes/stl/Scissors1Plastics_015.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Scissors1Plastics_016">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://scissors_1/meshes/stl/Scissors1Plastics_016.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Scissors1Plastics_017">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://scissors_1/meshes/stl/Scissors1Plastics_017.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Scissors1Plastics_018">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://scissors_1/meshes/stl/Scissors1Plastics_018.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Scissors1Plastics_019">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://scissors_1/meshes/stl/Scissors1Plastics_019.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Scissors1Plastics_020">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://scissors_1/meshes/stl/Scissors1Plastics_020.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="scissors1_metal_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="scissors_1"/>
    <child link="scissors1_metal"/>
  </joint>
  <link name="scissors1_metal">
    <inertial>
      <origin xyz="-0.007116943132132292 -0.0018855701200664043 -0.0001600364048499614" rpy="-0.03239453211426735 -0.0006989478715695441 -0.029067955911159515"/>
      <mass value="0.04414314031600952"/>
      <inertia ixx="7.290732810361078e-06" ixy="0.0" ixz="0.0" iyy="8.119512494886294e-05" iyz="0.0" izz="8.842754323268309e-05"/>
    </inertial>
    <visual name="Scissors1Metal">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://scissors_1/meshes/obj/Scissors1Metal.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="Scissors1Metal_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://scissors_1/meshes/stl/Scissors1Metal_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Scissors1Metal_002">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://scissors_1/meshes/stl/Scissors1Metal_002.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Scissors1Metal_003">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://scissors_1/meshes/stl/Scissors1Metal_003.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Scissors1Metal_004">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://scissors_1/meshes/stl/Scissors1Metal_004.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Scissors1Metal_005">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://scissors_1/meshes/stl/Scissors1Metal_005.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Scissors1Metal_006">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://scissors_1/meshes/stl/Scissors1Metal_006.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Scissors1Metal_007">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://scissors_1/meshes/stl/Scissors1Metal_007.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Scissors1Metal_008">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://scissors_1/meshes/stl/Scissors1Metal_008.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Scissors1Metal_009">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://scissors_1/meshes/stl/Scissors1Metal_009.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Scissors1Metal_010">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://scissors_1/meshes/stl/Scissors1Metal_010.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Scissors1Metal_011">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://scissors_1/meshes/stl/Scissors1Metal_011.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Scissors1Metal_012">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://scissors_1/meshes/stl/Scissors1Metal_012.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Scissors1Metal_013">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://scissors_1/meshes/stl/Scissors1Metal_013.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="Scissors1Metal_014">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://scissors_1/meshes/stl/Scissors1Metal_014.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
</robot>