<?xml version="1.0" ?>
<robot name="large_bowl" version="1.0">
  <link name="large_bowl">
    <inertial>
      <origin xyz="-4.625593987839238e-07 -2.708555868480289e-08 -0.01416116114705801" rpy="-2.119071041306597e-06 -2.4112796381814405e-07 -1.6668331623077393"/>
      <mass value="0.7227948904037476"/>
      <inertia ixx="0.003389970865100622" ixy="0.0" ixz="0.0" iyy="0.003389986464753747" iyz="0.0" izz="0.0052571543492376804"/>
    </inertial>
    <visual name="BowlLargeSize">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/obj/BowlLargeSize.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="BowlLargeSize_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_002">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_002.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_003">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_003.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_004">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_004.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_005">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_005.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_006">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_006.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_007">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_007.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_008">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_008.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_009">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_009.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_010">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_010.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_011">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_011.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_012">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_012.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_013">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_013.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_014">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_014.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_015">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_015.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_016">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_016.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_017">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_017.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_018">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_018.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_019">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_019.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_020">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_020.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_021">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_021.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_022">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_022.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_023">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_023.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_024">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_024.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_025">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_025.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_026">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_026.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_027">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_027.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_028">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_028.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_029">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_029.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_030">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_030.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_031">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_031.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_032">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_032.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_033">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_033.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_034">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_034.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_035">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_035.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_036">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_036.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_037">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_037.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_038">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_038.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_039">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_039.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_040">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_040.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_041">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_041.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_042">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_042.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_043">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_043.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_044">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_044.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_045">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_045.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_046">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_046.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlLargeSize_047">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://large_bowl/meshes/stl/BowlLargeSize_047.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
</robot>