<?xml version="1.0" ?>
<robot name="yellow_orange" version="1.0">
  <link name="yellow_orange"/>
  <joint name="orange_fruit_peduncle_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="yellow_orange"/>
    <child link="orange_fruit_peduncle"/>
  </joint>
  <link name="orange_fruit_peduncle">
    <inertial>
      <origin xyz="2.2144186004879884e-06 -2.577592340458068e-06 0.030269326642155647" rpy="-0.5147317051887512 1.5706895589828491 2.381955146789551"/>
      <mass value="1.2277000678295735e-05"/>
      <inertia ixx="2.141239963115993e-11" ixy="0.0" ixz="0.0" iyy="1.126138737816973e-08" iyz="0.0" izz="1.1262766719255524e-08"/>
    </inertial>
    <visual name="OrangeFruitPeduncle">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/obj/OrangeFruitPeduncle.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="OrangeFruitPeduncle_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_002">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_002.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_003">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_003.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_004">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_004.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_005">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_005.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_006">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_006.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_007">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_007.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_008">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_008.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_009">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_009.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_010">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_010.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_011">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_011.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_012">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_012.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_013">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_013.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_014">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_014.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_015">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_015.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_016">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_016.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_017">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_017.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_018">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_018.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_019">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_019.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_020">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_020.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_021">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_021.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_022">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_022.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_023">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_023.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_024">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_024.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_025">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_025.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_026">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_026.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_027">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_027.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_028">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_028.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_029">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_029.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_030">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_030.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_031">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_031.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_032">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_032.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_033">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_033.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_034">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_034.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_035">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_035.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_036">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_036.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_037">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_037.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_038">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_038.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_039">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_039.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_040">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_040.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_041">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_041.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_042">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_042.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_043">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_043.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_044">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_044.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_045">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_045.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_046">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_046.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_047">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_047.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_048">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_048.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_049">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_049.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_050">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_050.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_051">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_051.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_052">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_052.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_053">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_053.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_054">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_054.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_055">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_055.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_056">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_056.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_057">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_057.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_058">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_058.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFruitPeduncle_059">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFruitPeduncle_059.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="orange_fascia_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="yellow_orange"/>
    <child link="orange_fascia"/>
  </joint>
  <link name="orange_fascia">
    <inertial>
      <origin xyz="-1.668621329997677e-08 4.288988719736153e-08 -0.0018351618200540543" rpy="2.9905943870544434 -1.5707950592041016 -1.0782935619354248"/>
      <mass value="0.13064807653427124"/>
      <inertia ixx="3.5091554309474304e-05" ixy="0.0" ixz="0.0" iyy="3.970126635977067e-05" iyz="0.0" izz="3.9701411878922954e-05"/>
    </inertial>
    <visual name="OrangeFascia">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/obj/OrangeFascia.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="OrangeFascia_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFascia_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFascia_002">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFascia_002.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFascia_003">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFascia_003.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFascia_004">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFascia_004.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="orange_flesh_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="yellow_orange"/>
    <child link="orange_flesh"/>
  </joint>
  <link name="orange_flesh">
    <inertial>
      <origin xyz="-7.663245149558406e-09 -6.8429035771089275e-09 -0.0018351459875702858" rpy="0.9148108959197998 1.570796012878418 -2.252190113067627"/>
      <mass value="0.047751545906066895"/>
      <inertia ixx="9.830926501308568e-06" ixy="0.0" ixz="0.0" iyy="1.2972010154044256e-05" iyz="0.0" izz="1.2972019248991273e-05"/>
    </inertial>
    <visual name="OrangeFlesh">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/obj/OrangeFlesh.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="OrangeFlesh_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_002">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_002.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_003">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_003.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_004">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_004.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_005">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_005.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_006">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_006.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_007">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_007.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_008">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_008.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_009">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_009.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_010">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_010.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_011">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_011.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_012">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_012.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_013">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_013.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_014">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_014.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_015">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_015.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_016">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_016.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_017">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_017.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_018">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_018.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_019">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_019.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_020">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_020.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_021">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_021.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_022">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_022.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_023">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_023.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_024">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_024.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_025">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_025.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_026">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_026.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_027">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_027.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_028">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_028.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_029">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_029.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_030">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_030.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_031">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_031.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_032">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_032.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_033">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_033.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_034">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_034.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_035">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_035.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_036">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_036.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_037">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_037.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_038">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_038.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_039">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_039.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_040">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_040.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_041">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_041.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_042">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_042.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_043">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_043.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_044">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_044.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_045">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_045.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_046">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_046.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_047">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_047.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_048">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_048.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_049">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_049.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_050">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_050.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_051">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_051.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_052">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_052.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_053">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_053.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_054">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_054.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_055">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_055.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_056">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_056.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="OrangeFlesh_057">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangeFlesh_057.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="orange_peel_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="yellow_orange"/>
    <child link="orange_peel"/>
  </joint>
  <link name="orange_peel">
    <inertial>
      <origin xyz="-2.3840793801355176e-06 4.579954122618801e-07 -0.0008680091123096645" rpy="0.6409124135971069 -1.5688152313232422 2.8243532180786133"/>
      <mass value="0.01043783314526081"/>
      <inertia ixx="5.5408754633390345e-06" ixy="0.0" ixz="0.0" iyy="5.925657205807511e-06" iyz="0.0" izz="5.9264352785248775e-06"/>
    </inertial>
    <visual name="OrangePeel">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/obj/OrangePeel.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="OrangePeel_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://yellow_orange/meshes/stl/OrangePeel_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
</robot>