<?xml version="1.0" ?>
<robot name="medium_bowl" version="1.0">
  <link name="medium_bowl">
    <inertial>
      <origin xyz="-6.860583567913636e-08 1.1251937337419804e-07 -0.011291319504380226" rpy="-4.1692496210998797e-07 1.0345952432544436e-06 -1.5852583646774292"/>
      <mass value="0.4966089427471161"/>
      <inertia ixx="0.0017319830367341638" ixy="0.0" ixz="0.0" iyy="0.0017319886246696115" iyz="0.0" izz="0.002707346109673381"/>
    </inertial>
    <visual name="BowlMediumSize">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/obj/BowlMediumSize.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="BowlMediumSize_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_002">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_002.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_003">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_003.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_004">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_004.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_005">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_005.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_006">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_006.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_007">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_007.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_008">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_008.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_009">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_009.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_010">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_010.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_011">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_011.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_012">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_012.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_013">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_013.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_014">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_014.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_015">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_015.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_016">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_016.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_017">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_017.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_018">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_018.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_019">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_019.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_020">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_020.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_021">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_021.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_022">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_022.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_023">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_023.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_024">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_024.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_025">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_025.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_026">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_026.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_027">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_027.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_028">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_028.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_029">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_029.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_030">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_030.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_031">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_031.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_032">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_032.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_033">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_033.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_034">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_034.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_035">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_035.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_036">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_036.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_037">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_037.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_038">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_038.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_039">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_039.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_040">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_040.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_041">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_041.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_042">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_042.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_043">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_043.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_044">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_044.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlMediumSize_045">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://medium_bowl/meshes/stl/BowlMediumSize_045.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
</robot>