<?xml version="1.0" ?>
<robot name="small_bowl" version="1.0">
  <link name="small_bowl">
    <inertial>
      <origin xyz="-4.544924081528734e-08 4.074247783592e-08 -0.008956564590334892" rpy="8.750809143975857e-08 -6.637400247200276e-07 -0.1395414173603058"/>
      <mass value="0.3429035246372223"/>
      <inertia ixx="0.0008884778362698853" ixy="0.0" ixz="0.0" iyy="0.0008884794660843909" iyz="0.0" izz="0.0013993768952786922"/>
    </inertial>
    <visual name="BowlSmallSize">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/obj/BowlSmallSize.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="BowlSmallSize_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_002">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_002.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_003">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_003.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_004">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_004.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_005">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_005.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_006">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_006.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_007">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_007.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_008">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_008.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_009">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_009.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_010">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_010.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_011">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_011.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_012">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_012.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_013">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_013.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_014">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_014.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_015">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_015.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_016">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_016.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_017">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_017.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_018">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_018.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_019">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_019.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_020">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_020.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_021">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_021.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_022">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_022.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_023">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_023.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_024">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_024.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_025">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_025.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_026">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_026.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_027">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_027.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_028">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_028.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_029">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_029.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_030">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_030.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_031">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_031.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_032">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_032.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_033">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_033.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_034">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_034.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_035">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_035.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_036">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_036.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_037">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_037.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_038">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_038.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_039">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_039.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_040">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_040.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_041">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_041.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_042">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_042.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_043">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_043.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_044">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_044.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_045">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_045.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_046">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_046.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_047">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_047.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BowlSmallSize_048">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://small_bowl/meshes/stl/BowlSmallSize_048.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
</robot>