<?xml version="1.0" ?>
<robot name="garlic" version="1.0">
  <link name="garlic"/>
  <joint name="garlic_seed_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="garlic"/>
    <child link="garlic_seed"/>
  </joint>
  <link name="garlic_seed">
    <inertial>
      <origin xyz="0.00016286807658616453 -0.00037139811320230365 -0.010158407501876354" rpy="-0.09286724030971527 0.02252727374434471 0.2922494113445282"/>
      <mass value="0.11003942787647247"/>
      <inertia ixx="5.135387254995294e-05" ixy="0.0" ixz="0.0" iyy="5.62453169550281e-05" iyz="0.0" izz="5.8395486121298745e-05"/>
    </inertial>
    <visual name="GarlicSeed">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/obj/GarlicSeed.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="GarlicSeed_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeed_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeed_002">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeed_002.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeed_003">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeed_003.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeed_004">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeed_004.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeed_005">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeed_005.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeed_006">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeed_006.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeed_007">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeed_007.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeed_008">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeed_008.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeed_009">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeed_009.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeed_010">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeed_010.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeed_011">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeed_011.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeed_012">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeed_012.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeed_013">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeed_013.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeed_014">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeed_014.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeed_015">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeed_015.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeed_016">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeed_016.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeed_017">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeed_017.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeed_018">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeed_018.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeed_019">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeed_019.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeed_020">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeed_020.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeed_021">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeed_021.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeed_022">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeed_022.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeed_023">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeed_023.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeed_024">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeed_024.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeed_025">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeed_025.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeed_026">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeed_026.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeed_027">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeed_027.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeed_028">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeed_028.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeed_029">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeed_029.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeed_030">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeed_030.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeed_031">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeed_031.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeed_032">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeed_032.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeed_033">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeed_033.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeed_034">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeed_034.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeed_035">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeed_035.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeed_036">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeed_036.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeed_037">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeed_037.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeed_038">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeed_038.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeed_039">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeed_039.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeed_040">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeed_040.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="garlic_peel_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="garlic"/>
    <child link="garlic_peel"/>
  </joint>
  <link name="garlic_peel">
    <inertial>
      <origin xyz="0.00017951619520317763 -0.0004656114033423364 -0.011801262386143208" rpy="-2.854008197784424 -1.53615403175354 -1.5769479274749756"/>
      <mass value="0.0013882721541449428"/>
      <inertia ixx="1.0030482826550724e-06" ixy="0.0" ixz="0.0" iyy="1.0785203130581067e-06" iyz="0.0" izz="1.1394455441404716e-06"/>
    </inertial>
    <visual name="GarlicPeel">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/obj/GarlicPeel.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="GarlicPeel_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_002">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_002.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_003">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_003.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_004">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_004.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_005">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_005.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_006">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_006.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_007">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_007.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_008">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_008.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_009">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_009.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_010">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_010.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_011">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_011.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_012">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_012.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_013">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_013.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_014">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_014.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_015">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_015.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_016">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_016.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_017">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_017.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_018">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_018.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_019">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_019.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_020">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_020.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_021">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_021.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_022">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_022.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_023">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_023.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_024">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_024.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_025">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_025.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_026">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_026.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_027">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_027.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_028">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_028.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_029">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_029.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_030">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_030.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_031">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_031.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_032">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_032.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_033">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_033.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_034">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_034.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_035">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_035.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_036">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_036.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_037">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_037.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_038">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_038.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_039">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_039.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_040">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_040.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_041">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_041.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_042">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_042.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_043">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_043.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_044">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_044.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_045">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_045.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_046">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_046.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_047">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_047.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_048">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_048.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_049">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_049.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_050">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_050.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_051">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_051.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_052">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_052.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_053">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_053.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_054">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_054.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_055">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_055.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_056">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_056.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_057">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_057.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_058">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_058.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_059">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_059.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_060">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_060.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_061">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_061.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_062">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_062.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_063">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_063.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_064">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_064.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_065">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_065.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_066">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_066.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_067">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_067.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_068">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_068.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_069">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_069.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_070">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_070.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_071">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_071.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_072">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_072.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_073">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_073.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_074">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_074.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_075">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_075.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_076">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_076.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_077">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_077.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_078">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_078.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_079">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_079.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_080">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_080.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_081">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_081.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_082">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_082.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_083">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_083.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_084">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_084.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_085">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_085.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_086">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_086.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_087">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_087.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_088">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_088.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_089">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_089.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_090">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_090.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_091">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_091.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_092">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_092.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_093">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_093.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_094">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_094.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_095">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_095.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_096">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_096.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_097">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_097.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_098">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_098.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_099">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_099.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_100">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_100.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_101">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_101.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_102">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_102.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_103">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_103.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_104">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_104.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_105">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_105.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_106">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_106.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_107">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_107.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_108">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_108.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_109">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_109.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_110">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_110.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_111">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_111.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicPeel_112">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicPeel_112.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="garlic_seed_peel_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="garlic"/>
    <child link="garlic_seed_peel"/>
  </joint>
  <link name="garlic_seed_peel">
    <inertial>
      <origin xyz="-0.0002961294667329639 -2.602349695735029e-06 -0.010346611961722374" rpy="-1.779929757118225 0.8454622626304626 3.1238701343536377"/>
      <mass value="0.0014131235657259822"/>
      <inertia ixx="6.986143716858351e-07" ixy="0.0" ixz="0.0" iyy="7.086428581715154e-07" iyz="0.0" izz="7.728647233307129e-07"/>
    </inertial>
    <visual name="GarlicSeedPeel">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/obj/GarlicSeedPeel.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="GarlicSeedPeel_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeedPeel_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeedPeel_002">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeedPeel_002.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeedPeel_003">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeedPeel_003.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeedPeel_004">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeedPeel_004.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeedPeel_005">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeedPeel_005.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeedPeel_006">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeedPeel_006.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeedPeel_007">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeedPeel_007.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeedPeel_008">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeedPeel_008.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeedPeel_009">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeedPeel_009.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeedPeel_010">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeedPeel_010.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeedPeel_011">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeedPeel_011.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeedPeel_012">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeedPeel_012.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeedPeel_013">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeedPeel_013.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeedPeel_014">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeedPeel_014.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeedPeel_015">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeedPeel_015.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeedPeel_016">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeedPeel_016.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeedPeel_017">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeedPeel_017.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeedPeel_018">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeedPeel_018.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeedPeel_019">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeedPeel_019.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeedPeel_020">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeedPeel_020.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeedPeel_021">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeedPeel_021.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeedPeel_022">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeedPeel_022.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeedPeel_023">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeedPeel_023.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeedPeel_024">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeedPeel_024.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeedPeel_025">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeedPeel_025.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeedPeel_026">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeedPeel_026.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeedPeel_027">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeedPeel_027.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeedPeel_028">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeedPeel_028.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeedPeel_029">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeedPeel_029.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeedPeel_030">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeedPeel_030.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeedPeel_031">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeedPeel_031.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeedPeel_032">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeedPeel_032.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeedPeel_033">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeedPeel_033.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeedPeel_034">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeedPeel_034.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeedPeel_035">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeedPeel_035.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeedPeel_036">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeedPeel_036.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="GarlicSeedPeel_037">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicSeedPeel_037.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="garlic_stalk_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="garlic"/>
    <child link="garlic_stalk"/>
  </joint>
  <link name="garlic_stalk">
    <inertial>
      <origin xyz="0.0003087967343162745 -0.00254641892388463 0.00015946367057040334" rpy="1.5227309465408325 1.5015169382095337 1.639667272567749"/>
      <mass value="0.001281948876567185"/>
      <inertia ixx="1.2382610492522872e-08" ixy="0.0" ixz="0.0" iyy="4.866985818807734e-07" iyz="0.0" izz="4.947117417941627e-07"/>
    </inertial>
    <visual name="GarlicStalk">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/obj/GarlicStalk.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="GarlicStalk_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://garlic/meshes/stl/GarlicStalk_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
</robot>