<?xml version="1.0" ?>
<robot name="pepper_black" version="1.0">
  <link name="pepper_black">
    <inertial>
      <origin xyz="-2.0498882804531604e-05 -2.119790224242024e-05 -3.0677460017614067e-05" rpy="-0.9386559724807739 -1.4422712326049805 0.27987992763519287"/>
      <mass value="1.9499942936818115e-05"/>
      <inertia ixx="3.156022665429248e-11" ixy="0.0" ixz="0.0" iyy="3.1741682199326604e-11" iyz="0.0" izz="3.1845109882411293e-11"/>
    </inertial>
    <visual name="PepperBlack">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pepper_black/meshes/obj/PepperBlack.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="PepperBlack_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pepper_black/meshes/stl/PepperBlack_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PepperBlack_002">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pepper_black/meshes/stl/PepperBlack_002.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PepperBlack_003">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pepper_black/meshes/stl/PepperBlack_003.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PepperBlack_004">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pepper_black/meshes/stl/PepperBlack_004.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PepperBlack_005">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pepper_black/meshes/stl/PepperBlack_005.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PepperBlack_006">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pepper_black/meshes/stl/PepperBlack_006.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PepperBlack_007">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pepper_black/meshes/stl/PepperBlack_007.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PepperBlack_008">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pepper_black/meshes/stl/PepperBlack_008.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PepperBlack_009">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pepper_black/meshes/stl/PepperBlack_009.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PepperBlack_010">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pepper_black/meshes/stl/PepperBlack_010.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PepperBlack_011">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pepper_black/meshes/stl/PepperBlack_011.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PepperBlack_012">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pepper_black/meshes/stl/PepperBlack_012.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="PepperBlack_013">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://pepper_black/meshes/stl/PepperBlack_013.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
</robot>