<?xml version="1.0" ?>
<robot name="brush" version="1.0">
  <link name="brush"/>
  <joint name="brush_head_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="brush"/>
    <child link="brush_head"/>
  </joint>
  <link name="brush_head">
    <inertial>
      <origin xyz="-0.012227881699800491 -0.013956385664641857 -0.013627697713673115" rpy="0.7653642892837524 -0.07623419910669327 0.20582261681556702"/>
      <mass value="0.14380942285060883"/>
      <inertia ixx="8.549939229851589e-05" ixy="0.0" ixz="0.0" iyy="0.002847365103662014" iyz="0.0" izz="0.0028882231563329697"/>
    </inertial>
    <visual name="BrushHead">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/obj/BrushHead.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="BrushHead_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHead_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHead_002">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHead_002.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHead_003">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHead_003.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHead_004">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHead_004.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="brush_handle_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="brush"/>
    <child link="brush_handle"/>
  </joint>
  <link name="brush_handle">
    <inertial>
      <origin xyz="0.1408890038728714 0.0217297300696373 -0.0002752738946583122" rpy="-1.4657750129699707 0.002039087237790227 0.14643460512161255"/>
      <mass value="0.024592626839876175"/>
      <inertia ixx="9.212667464453261e-06" ixy="0.0" ixz="0.0" iyy="0.0005393718020059168" iyz="0.0" izz="0.0005434915074147284"/>
    </inertial>
    <visual name="BrushHandle">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/obj/BrushHandle.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="BrushHandle_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_002">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_002.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_003">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_003.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_004">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_004.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_005">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_005.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_006">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_006.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_007">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_007.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_008">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_008.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_009">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_009.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_010">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_010.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_011">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_011.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_012">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_012.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_013">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_013.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_014">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_014.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_015">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_015.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_016">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_016.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_017">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_017.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_018">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_018.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_019">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_019.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_020">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_020.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_021">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_021.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_022">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_022.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_023">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_023.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_024">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_024.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_025">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_025.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_026">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_026.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_027">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_027.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_028">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_028.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_029">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_029.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_030">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_030.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_031">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_031.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_032">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_032.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_033">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_033.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_034">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_034.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_035">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_035.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_036">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_036.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_037">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_037.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_038">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_038.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_039">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_039.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_040">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_040.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_041">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_041.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_042">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_042.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_043">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_043.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_044">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_044.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_045">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_045.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_046">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_046.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_047">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_047.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_048">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_048.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_049">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_049.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_050">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_050.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_051">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_051.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_052">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_052.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_053">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_053.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_054">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_054.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_055">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_055.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_056">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_056.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_057">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_057.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_058">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_058.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_059">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_059.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_060">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_060.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_061">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_061.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_062">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_062.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="BrushHandle_063">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://brush/meshes/stl/BrushHandle_063.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
</robot>