<?xml version="1.0" ?>
<robot name="watermelon" version="1.0">
  <link name="watermelon"/>
  <joint name="watermelon_peel_flesh_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="watermelon"/>
    <child link="watermelon_peel_flesh"/>
  </joint>
  <link name="watermelon_peel_flesh">
    <inertial>
      <origin xyz="0.0013285562163218856 0.0028141560032963753 -0.02688700333237648" rpy="-2.176156520843506 1.5170968770980835 1.0006157159805298"/>
      <mass value="2.361973524093628"/>
      <inertia ixx="0.025050004944205284" ixy="0.0" ixz="0.0" iyy="0.027744894847273827" iyz="0.0" izz="0.028111683204770088"/>
    </inertial>
    <visual name="WatermelonPeelFlesh">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/obj/WatermelonPeelFlesh.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="WatermelonPeelFlesh_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeelFlesh_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="watermelon_seed_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="watermelon"/>
    <child link="watermelon_seed"/>
  </joint>
  <link name="watermelon_seed">
    <inertial>
      <origin xyz="-0.00105637579690665 -0.002998134819790721 -0.01774233765900135" rpy="1.098307728767395 0.866683304309845 -1.9614344835281372"/>
      <mass value="0.002387964865192771"/>
      <inertia ixx="9.095885616261512e-06" ixy="0.0" ixz="0.0" iyy="9.38795528782066e-06" iyz="0.0" izz="9.48741399042774e-06"/>
    </inertial>
    <visual name="WatermelonSeed">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/obj/WatermelonSeed.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="WatermelonSeed_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonSeed_002">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_002.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonSeed_003">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_003.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonSeed_004">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_004.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonSeed_005">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_005.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonSeed_006">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_006.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonSeed_007">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_007.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonSeed_008">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_008.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonSeed_009">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_009.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonSeed_010">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_010.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonSeed_011">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_011.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonSeed_012">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_012.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonSeed_013">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_013.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonSeed_014">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_014.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonSeed_015">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_015.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonSeed_016">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_016.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonSeed_017">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_017.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonSeed_018">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_018.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonSeed_019">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_019.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonSeed_020">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_020.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonSeed_021">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_021.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonSeed_022">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_022.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonSeed_023">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_023.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonSeed_024">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_024.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonSeed_025">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_025.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonSeed_026">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_026.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonSeed_027">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_027.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonSeed_028">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_028.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonSeed_029">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_029.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonSeed_030">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_030.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonSeed_031">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_031.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonSeed_032">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_032.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonSeed_033">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_033.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonSeed_034">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_034.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonSeed_035">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_035.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonSeed_036">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_036.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonSeed_037">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_037.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonSeed_038">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_038.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonSeed_039">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_039.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonSeed_040">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_040.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonSeed_041">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_041.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonSeed_042">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonSeed_042.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="watermelon_stalk_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="watermelon"/>
    <child link="watermelon_stalk"/>
  </joint>
  <link name="watermelon_stalk">
    <inertial>
      <origin xyz="-0.024732841178774834 -0.006058709695935249 0.12493567168712616" rpy="1.5110740661621094 1.3762315511703491 0.2378421127796173"/>
      <mass value="0.005431091412901878"/>
      <inertia ixx="5.045032480666123e-07" ixy="0.0" ixz="0.0" iyy="8.944371802499518e-05" iyz="0.0" izz="8.9774199295789e-05"/>
    </inertial>
    <visual name="WatermelonStalk">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/obj/WatermelonStalk.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="WatermelonStalk_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonStalk_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonStalk_002">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonStalk_002.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonStalk_003">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonStalk_003.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonStalk_004">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonStalk_004.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonStalk_005">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonStalk_005.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonStalk_006">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonStalk_006.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="watermelon_peel_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="watermelon"/>
    <child link="watermelon_peel"/>
  </joint>
  <link name="watermelon_peel">
    <inertial>
      <origin xyz="-0.0011508672032505274 0.0010155318304896355 -0.022771352902054787" rpy="0.4714649021625519 -1.548378825187683 -0.4464518129825592"/>
      <mass value="0.4546205997467041"/>
      <inertia ixx="0.005374217871576548" ixy="0.0" ixz="0.0" iyy="0.00577017804607749" iyz="0.0" izz="0.0058294907212257385"/>
    </inertial>
    <visual name="WatermelonPeel">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/obj/WatermelonPeel.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="WatermelonPeel_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_002">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_002.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_003">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_003.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_004">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_004.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_005">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_005.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_006">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_006.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_007">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_007.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_008">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_008.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_009">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_009.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_010">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_010.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_011">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_011.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_012">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_012.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_013">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_013.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_014">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_014.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_015">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_015.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_016">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_016.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_017">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_017.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_018">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_018.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_019">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_019.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_020">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_020.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_021">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_021.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_022">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_022.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_023">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_023.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_024">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_024.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_025">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_025.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_026">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_026.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_027">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_027.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_028">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_028.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_029">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_029.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_030">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_030.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_031">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_031.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_032">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_032.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_033">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_033.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_034">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_034.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_035">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_035.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_036">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_036.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_037">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_037.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_038">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_038.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_039">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_039.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_040">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_040.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_041">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_041.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_042">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_042.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_043">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_043.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_044">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_044.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_045">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_045.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_046">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_046.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_047">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_047.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_048">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_048.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_049">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_049.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_050">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_050.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_051">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_051.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_052">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_052.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_053">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_053.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_054">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_054.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_055">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_055.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_056">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_056.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_057">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_057.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_058">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_058.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_059">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_059.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_060">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_060.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_061">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_061.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_062">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_062.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_063">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_063.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_064">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_064.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_065">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_065.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_066">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_066.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_067">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_067.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_068">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_068.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_069">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_069.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_070">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_070.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_071">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_071.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_072">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_072.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_073">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_073.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_074">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_074.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_075">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_075.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_076">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_076.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_077">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_077.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_078">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_078.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_079">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_079.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_080">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_080.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_081">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_081.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_082">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_082.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_083">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_083.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_084">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_084.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_085">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_085.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_086">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_086.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_087">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_087.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_088">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_088.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_089">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_089.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_090">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_090.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_091">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_091.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_092">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_092.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_093">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_093.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_094">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_094.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_095">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_095.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_096">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_096.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_097">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_097.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_098">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_098.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_099">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_099.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_100">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_100.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_101">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_101.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_102">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_102.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_103">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_103.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_104">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_104.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_105">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_105.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_106">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_106.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="WatermelonPeel_107">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonPeel_107.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="watermelon_flesh_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="watermelon"/>
    <child link="watermelon_flesh"/>
  </joint>
  <link name="watermelon_flesh">
    <inertial>
      <origin xyz="-0.0019877715967595577 0.00044626821181736887 -0.021083831787109375" rpy="3.0488874912261963 1.5277042388916016 3.0704193115234375"/>
      <mass value="7.628058910369873"/>
      <inertia ixx="0.044156141579151154" ixy="0.0" ixz="0.0" iyy="0.04939408600330353" iyz="0.0" izz="0.049983564764261246"/>
    </inertial>
    <visual name="WatermelonFlesh">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/obj/WatermelonFlesh.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="WatermelonFlesh_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://watermelon/meshes/stl/WatermelonFlesh_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
</robot>