<?xml version="1.0" ?>
<robot name="lemon" version="1.0">
  <link name="lemon"/>
  <joint name="lemon_fruit_peduncle_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="lemon"/>
    <child link="lemon_fruit_peduncle"/>
  </joint>
  <link name="lemon_fruit_peduncle">
    <inertial>
      <origin xyz="-0.043652936816215515 -0.0014261022442951798 0.0004136401112191379" rpy="-0.9557008743286133 0.009306848980486393 0.03267833590507507"/>
      <mass value="2.28502231038874e-05"/>
      <inertia ixx="7.544097291312113e-11" ixy="0.0" ixz="0.0" iyy="4.364030559145249e-08" iyz="0.0" izz="4.364079941865384e-08"/>
    </inertial>
    <visual name="LemonFruitPeduncle">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/obj/LemonFruitPeduncle.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="LemonFruitPeduncle_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFruitPeduncle_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFruitPeduncle_002">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFruitPeduncle_002.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFruitPeduncle_003">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFruitPeduncle_003.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFruitPeduncle_004">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFruitPeduncle_004.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFruitPeduncle_005">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFruitPeduncle_005.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFruitPeduncle_006">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFruitPeduncle_006.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFruitPeduncle_007">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFruitPeduncle_007.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFruitPeduncle_008">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFruitPeduncle_008.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFruitPeduncle_009">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFruitPeduncle_009.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFruitPeduncle_010">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFruitPeduncle_010.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFruitPeduncle_011">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFruitPeduncle_011.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFruitPeduncle_012">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFruitPeduncle_012.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFruitPeduncle_013">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFruitPeduncle_013.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFruitPeduncle_014">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFruitPeduncle_014.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFruitPeduncle_015">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFruitPeduncle_015.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFruitPeduncle_016">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFruitPeduncle_016.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFruitPeduncle_017">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFruitPeduncle_017.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFruitPeduncle_018">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFruitPeduncle_018.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFruitPeduncle_019">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFruitPeduncle_019.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFruitPeduncle_020">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFruitPeduncle_020.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFruitPeduncle_021">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFruitPeduncle_021.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFruitPeduncle_022">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFruitPeduncle_022.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFruitPeduncle_023">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFruitPeduncle_023.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFruitPeduncle_024">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFruitPeduncle_024.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="lemon_peel_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="lemon"/>
    <child link="lemon_peel"/>
  </joint>
  <link name="lemon_peel">
    <inertial>
      <origin xyz="-0.0020827518310397863 -0.00036481244023889303 3.410069984965958e-05" rpy="3.120107889175415 -0.028796924278140068 -0.0004909937269985676"/>
      <mass value="0.0066876644268631935"/>
      <inertia ixx="3.538991677487502e-06" ixy="0.0" ixz="0.0" iyy="5.962369414191926e-06" iyz="0.0" izz="6.003923317621229e-06"/>
    </inertial>
    <visual name="LemonPeel">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/obj/LemonPeel.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="LemonPeel_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonPeel_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="lemon_fascia_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="lemon"/>
    <child link="lemon_fascia"/>
  </joint>
  <link name="lemon_fascia">
    <inertial>
      <origin xyz="-0.004055655561387539 0.00045510882046073675 8.306115341838449e-05" rpy="-3.0169146060943604 -0.05796181410551071 -0.037914298474788666"/>
      <mass value="0.07461966574192047"/>
      <inertia ixx="3.352948260726407e-05" ixy="0.0" ixz="0.0" iyy="4.461341450223699e-05" iyz="0.0" izz="4.501095463638194e-05"/>
    </inertial>
    <visual name="LemonFascia">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/obj/LemonFascia.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="LemonFascia_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFascia_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="lemon_flesh_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="lemon"/>
    <child link="lemon_flesh"/>
  </joint>
  <link name="lemon_flesh">
    <inertial>
      <origin xyz="-0.004311780445277691 -0.0010747106280177832 0.0006292589823715389" rpy="-0.5295618772506714 0.012315444648265839 0.021036246791481972"/>
      <mass value="0.06487783044576645"/>
      <inertia ixx="1.2263642929610796e-05" ixy="0.0" ixz="0.0" iyy="2.6561519916867837e-05" iyz="0.0" izz="2.665364991116803e-05"/>
    </inertial>
    <visual name="LemonFlesh">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/obj/LemonFlesh.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="LemonFlesh_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_002">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_002.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_003">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_003.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_004">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_004.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_005">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_005.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_006">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_006.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_007">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_007.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_008">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_008.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_009">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_009.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_010">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_010.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_011">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_011.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_012">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_012.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_013">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_013.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_014">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_014.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_015">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_015.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_016">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_016.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_017">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_017.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_018">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_018.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_019">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_019.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_020">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_020.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_021">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_021.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_022">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_022.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_023">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_023.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_024">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_024.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_025">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_025.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_026">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_026.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_027">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_027.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_028">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_028.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_029">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_029.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_030">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_030.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_031">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_031.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_032">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_032.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_033">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_033.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_034">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_034.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_035">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_035.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_036">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_036.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_037">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_037.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_038">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_038.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_039">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_039.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_040">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_040.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_041">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_041.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_042">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_042.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_043">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_043.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_044">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_044.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_045">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_045.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_046">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_046.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_047">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_047.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_048">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_048.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_049">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_049.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_050">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_050.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_051">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_051.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_052">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_052.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_053">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_053.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LemonFlesh_054">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://lemon/meshes/stl/LemonFlesh_054.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
</robot>